# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/.venv
/.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Pycharm
.idea

# Eclipse
.settings

# Visual Studio cache/options directory
.vs/
.vscode

# OSX Files
.DS_Store

# Django stuff:
*.log

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/
docs/.doctrees
docsource/modules50-60.rst
docsource/modules60-61.rst
docsource/modules61-70.rst
docsource/modules70-80.rst
docsource/modules80-90.rst
docsource/modules90-100.rst
docsource/modules100-110.rst
docsource/modules110-120.rst
docsource/modules120-130.rst

# Backup files
*~
*.swp

# OCA rules
!static/lib/
