body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #000000;
}

body,
table {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #990000;
}

a:hover {
    text-decoration: underline;
    color: #690000;
}

a.imglink {
    text-decoration: none;
}

a:hover .imglink {
    border: none;
}

.dimmed-text {
    color: #bbb;
}

.dimmed-text a {
    font-size: 10px;
    color: #bbb;
    text-transform: uppercase;
}

.dimmed-text a:hover {
    color: #333;
    text-decoration: none;
}

td.dimmed-text {    
    padding-left: 5px;
}

hr {
    border: 0px;
    background-color: #888;
    height: 1px;
}

input,
select,
textarea {
    background-color: #fff;
    color: #000;
    border: 1px solid #999999;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #990033;
}

input.checkbox,
input.radio {
    background-color: transparent;
    border: none;
    margin: 0px;
}

button {
    border: solid 1px #888888;    
    background: url(/static/images/button_bg.png) repeat-x left top;
    color: #000;
    padding: 0px 2px;
    font-size: 11px;
    white-space: nowrap;
}

#container {
    margin: auto;
    background: url(/static/images/dotgray_bg.gif)repeat-x scroll left top;
    width: 1004px;
}

.headerdesign {
	background: transparent url(/static/images/headergraphics.jpg) no-repeat scroll right top;
	height: 107px;
	width: 1004px;
}

.tabbg {
	background: url(/static/images/m_nav.gif) repeat-x scroll left top;
	border: medium none;
	height: 26px;
	width: 1004px;
	margin: 0 !important;
	padding: 0 !important;
}

table.header {
    background: url(/static/images/grdheader.gif) repeat-x left top;
    width: 100%;
}

button:hover {
    background: url(/static/images/button_bg2.png) repeat-x left top;
}

button.inactive {
    background: #eeeeee;
    border: solid 1px #888888;
    color: #999999;

/* ----------------- Navigation -------------- */

span.disabled_text {
    color: gray;
}

td.label_header {
    text-align: center;
    color: #990033;
    font-size: 12px;
    font-weight: bold;    
}

div.label_header {
    text-align: center;
    color: #990033;
    font-size: 12px;        
}

td.label {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
}

div.message {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
}

div.welcome {
    text-align: center;
    color: #990033;
    font-size: 16px;
    font-weight: bold;
}

/* view style */
.view {
    width: 100%;
}

.view .spacer {
    width: 4px;
    height: 4px;
}

.view .titlebar {
    font-size: 16px;
    font-weight: bold;
    color: #950000;
    border-bottom: 1px solid #363636;
    margin-bottom: 4px;
}

.view .titlebar button {
    width: auto;
    margin: 0 1px;
    cursor: pointer;
    white-space: nowrap;
}

.view .title {
    background: url(/static/images/grdline1.gif) repeat-x left top;
    border-top: 1px solid #E3E3E3;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.view .toolbar {
    background-color: #F6F6F6;
    border-top: 1px solid #bbb8a9;
    border-bottom: 1px solid #bbb8a9;
    padding: 5px;
    white-space: nowrap;
}

.view .toolbar button {
    width: auto;
    margin: 0 1px;
    cursor: pointer;
    white-space: nowrap;
}

.view .toolbar img,
.view .titlebar img {
    border: none;
    margin: 0 1px;
    vertical-align: middle;
}
.view .toolbar img.button,
.view .titlebar img.button {
    cursor: pointer;
}

.view .fields {
}

.view .separator {
    font-weight: bold;
    border-bottom: 1px solid #666;
    margin: 6px 0px;
}

td.label {
    padding: 0 4px;
    text-align: right;
    white-space: nowrap;
}

td.item input,
td.item select,
td.item textarea,
td.item button {
    width: 99%;
}

td.item .checkbox,
td.item .radio {
    width: auto;
}

/* treebar */
.treebar {
    padding-right: 5px;
    width: 100px;
}

.treebar .row {
    cursor: pointer;
}

.treesep {

}


/**
 * vim: sts=4 st=4 et 
 *
 */
